@model IEnumerable<Sportoviste>

@{
    ViewData["Title"] = "Sportoviště";
}

<h2>Seznam sportovišť</h2>
<div class="list-group">
    @foreach (var sportoviste in Model)
    {
        <a href="/Sportoviste/Detail/@sportoviste.Id" class="list-group-item list-group-item-action">
            @sportoviste.Nazev
        </a>
    }
</div>
<a href="/Sportoviste/Create" class="btn btn-primary mt-3">Přidat nové sportoviště</a>
