@{
    ViewData["Title"] = "Detail hřiště";
}

<h2>Detail hřiště</h2>
<dl class="row">
    <dt class="col-sm-3">Název</dt>
    <dd class="col-sm-9">Tenisový kurt</dd>

    <dt class="col-sm-3">Sportoviště</dt>
    <dd class="col-sm-9">Sportoviště 1</dd>

    <dt class="col-sm-3">Dostupné rezervace</dt>
    <dd class="col-sm-9">8:00 - 10:00, 10:00 - 12:00, 14:00 - 16:00</dd>
</dl>
<a href="/Hriste/Edit/1" class="btn btn-warning">Upravit</a>
<a href="/Hriste/Delete/1" class="btn btn-danger">Smazat</a>
<a href="/Hriste" class="btn btn-secondary">Zpět na seznam</a>
