@{
    ViewData["Title"] = "Hřiště";
}

<h2>Seznam hřišť</h2>
<p>Zde budou zobrazena všechna dostupná hřiště.</p>

<!-- Ukázkový seznam hřišť -->
<div class="list-group">
    <a href="/Hriste/Detail/1" class="list-group-item list-group-item-action">Hřiště 1 - Fotbalové hřiště</a>
    <a href="/Hriste/Detail/2" class="list-group-item list-group-item-action">Hřiště 2 - Tenisový kurt</a>
    <a href="/Hriste/Detail/3" class="list-group-item list-group-item-action">Hřiště 3 - Basketbalová hala</a>
</div>

<a href="/Hriste/Create" class="btn btn-primary mt-3">Přidat nové hřiště</a>
