@{
    ViewData["Title"] = "Domů";
}

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Vítejte v rezervačním systému!</h1>
        <p class="lead">Rychle si rezervujte své oblíbené hřiště a užijte si sportovní aktivity bez starostí.</p>
        <a class="btn btn-secondary btn-lg" href="/Rezervace" role="button">Rezervovat nyní</a>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Populární sportoviště</h3>
            <p>Prohlédněte si nejčastěji rezervovaná sportoviště.</p>
            <a class="btn btn-secondary" href="/Sportoviste">Více</a>
        </div>
        <div class="col-md-4">
            <h3>Obsazenost hřišť</h3>
            <p>Podívejte se na nadcházející obsazenost hřišť.</p>
            <a class="btn btn-secondary" href="/Obsazenost">Zobrazit</a>
        </div>
        <div class="col-md-4">
            
            @if (string.IsNullOrEmpty(Context.Session.GetString("UzivatelJmeno")))
            {
                <h3>Registrace klientů</h3>
                <p>Přihlaste se nebo si vytvořte účet pro správu rezervací.</p>
                <a class="btn btn-outline-secondary" href="/Uzivatel/Registrace">Registrovat se</a>
                <a class="btn btn-outline-secondary" href="/Uzivatel/Prihlaseni">Přihlásit se</a>

            }
            else
            {
                <h3>Profil uživatele</h3>
                <p>Prohlédněte si své osobní údaje a rezervace.</p>
                <a class="btn btn-outline-primary ms-3" href="/Uzivatel/Profil">Můj profil</a>
                <a class="btn btn-outline-danger ms-3" href="/Uzivatel/Odhlaseni">Odhlásit se</a>

            }
        </div>
    </div>

    <div class="mt-5">
        <h4>Novinky a oznámení</h4>
        <p>Nezapomeňte sledovat speciální akce a nové sportovní události.</p>
    </div>
</div>
